<!--
 Copyright European Organization for Nuclear Research (CERN)

 Licensed under the Apache License, Version 2.0 (the "License");
 You may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 http://www.apache.org/licenses/LICENSE-2.0

 Authors:
 - Thomas Beermann, <thomas.beermann@cern.ch>, 2015
-->

$var title: DBRelease Summary
$var script: <script src="/static/dbrelease.js"></script><link rel="stylesheet" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"><script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<div id="main" class="row">

  <div id="t_data" class="columns panel">
    <h4>DBRelease Datasets</h4>
    <div id="note"></div>
    <div id="loader"></div>
    <div id="results">
      <table id="resulttable" class="compact stripe order-column" style="word-wrap: break-word;">
        <thead><tr><th>Name</th><th>Creation Date</th><th>Size (MB)</th><th>CERN</th><th>CA</th><th>DE</th><th>ES</th><th>FR</th><th>IT</th><th>NG</th><th>NL</th><th>RU</th><th>TW</th><th>UK</th><th>US</th></tr>
        </thead>
        <tfoot><tr><th>Name</th><th>Creation Date</th><th>Size (MB)</th><th>CERN</th><th>CA</th><th>DE</th><th>ES</th><th>FR</th><th>IT</th><th>NG</th><th>NL</th><th>RU</th><th>TW</th><th>UK</th><th>US</th></tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>

<div id="problem"></div>
